{{#if user}}
   {{#if games}}
   <div style="text-align:center">
      <h1>Select a game below to continue...</h1>
      <table>
      <tr>
      <td>Game</td> <td>Target</td><td>Start</td><td>Current Page</td> <td># Steps Taken</td>
      </tr>
      {{#each games}}
      <tr>      
          <td><a href="/gamescreen?id={{this.id}}" class="btn btn-primary btn-lg" role="button">Game {{this.id}}</a></td>
          <td>{{this.target}}</td>
          <td>{{this.start}}</td>
          <td>{{this.current}}</td>
          <td>{{this.steps}}</td>
      </tr>
      {{/each}}
      </table>
   </div>
   {{else}}
   <div style="text-align:center">
      <h1>Sorry {{user}}, it looks like there are no unfinished games to play!</h1><br>
      <a href="/dashboard" class="btn btn-primary btn-lg" role="button">Take me home</a>
   </div>
   {{/if}}
{{else}}
  <div class="jumbotron">
    <h1>Wiki Link User Authentication</h1>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span> 
        Sign in!
      </a>
    </p>
  </div>
{{/if}}