{{#if user}}
   {{#if routes}}
   <div style="text-align:center">
      <h1>Select a game below to continue...</h1>
      <table>
      <tr>
      <td></td> <td>Target</td><td>Start</td><td>User</td> <td># Steps Taken</td>
      </tr>
      {{#each routes}}
      <tr>      
          <td><a href="/newimprove?source={{this.source}}&target={{this.target}}" class="btn btn-primary btn-lg" role="button">Go</a></td>
          <td>{{this.target}}</td>
          <td>{{this.source}}</td>
          <td>{{this.user}}</td>
          <td>{{this.steps}}</td>
      </tr>
      {{/each}}
      </table>
   </div>
   {{else}}
   <div style="text-align:center">
      <h1>Sorry {{user}}, it looks like there are no routes to improve!</h1><br>
      <a href="/dashboard" class="btn btn-primary btn-lg" role="button">Take me home</a>
   </div>
   {{/if}}
{{else}}
  <div class="jumbotron">
    <h1>Wiki Link User Authentication</h1>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span> 
        Sign in!
      </a>
    </p>
  </div>
{{/if}}